**/.gitignore
Dockerfile
.dockerignore
**/.idea
**/.git
docker-compose*.yaml

**/.prettiercache
**/.vite

**/.vscode
**/.run

**/build

**/.turbo
**/.prisma
**/dist

**/coverage

**/out

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/unplugged
